.introductory-text {
    text-align: center;
    font-style: italic;
    color: #5C5C5C
}

#students thead tr th {
    text-align: center;
}

#students tr td {
    vertical-align: middle;
    text-align: center;
}

#student-stats {}
#student-stats tr td {text-align: center;}
#student-stats tr td.title {text-align: right;}
