<!doctype html>
<html>
<head>
    <title>Residuals</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <table id="students">
        <thead>
            <tr>
                <th>Name</th>
                <th>Potential grade</th>
                <th>Actual grade</th>
                <th>Residual</th>
            </tr>
        </thead>
        <tbody id="students-table-body">

        </tbody>
    </table>
    <div id="student-form-add"></div>
    <div id="student-stats"></div>

    <!-- templates -->
    <script type="text/template" id="template-student-row">
        <tr>
            <td><%- name %></td>
            <td><%- potential %></td>
            <td><%- actual %></td>
            <td><%  residual > 0 ? print('+' + residual) : print(residual) %></td>
        </tr>
    </script>

    <script type="text/template" id="template-student-form-add">
        <form>
            <input type="text" name="name" placeholder="Student name" />
            <select name="potential">
                <option value="a*">A*</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
                <option value="e">E</option>
            </select>
            <select name="actual">
                <option value="a*">A*</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
                <option value="e">E</option>
                <option value="u">U</option>
            </select>
            <input type="submit" value="Create" id="student-create-submit" />
        </form>
    </script>

    <script type="text/template" id="template-student-stats">
        residual: <%- averageResidual %>
    </script>

    <!-- this HAS to be last -->
    <script
        data-main="{{ url_for('static', filename='js/main.js') }}"
        src="{{ url_for('static', filename='js/vendor/require.js') }}"
    ></script>
</body>
</html>
