<!doctype html>
<html>
<head>
    <title>Residuals</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="student-form-add" class="well"></div>
    <div class="container">
        <table id="students" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Pupil premium?</th>
                    <th>Gifted/talented?</th>
                    <th>SEN?</th>
                    <th>BME?</th>
                    <th>FSM?</th>
                    <th>Potential grade</th>
                    <th>Actual grade</th>
                    <th>Residual</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="students-table-body">
                <tr>
                    <td colspan="10" class="introductory-text">whatever</td>
                </tr>
            </tbody>
            <tfoot id="student-stats">
                <tr>
                    <td colspan="10"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- templates -->
    <script type="text/template" id="template-student-row">
        <td><%- name %></td>
        <td><input type="checkbox" <% if(true === pp) { print('checked="checked"'); } %> onClick="return false;" /></td>
        <td><input type="checkbox" <% if(true === gt) { print('checked="checked"'); } %> onClick="return false;" /></td>
        <td><input type="checkbox" <% if(true === sen) { print('checked="checked"'); } %> onClick="return false;" /></td>
        <td><input type="checkbox" <% if(true === bme) { print('checked="checked"'); } %> onClick="return false;" /></td>
        <td><input type="checkbox" <% if(true === fsm) { print('checked="checked"'); } %> onClick="return false;" /></td>
        <td><strong><% print(potential.toUpperCase()) %></strong></td>
        <td><strong><% print(actual.toUpperCase()) %></strong></td>
        <td class="<%- residualCellClass %>">
            <%  residual > 0 ? print('+' + residual) : print(residual) %>
        </td>
        <td class="student-row-delete-td"></td>
    </script>

    <script type="text/template" id="template-student-form-add">
        <h3>Add a student</h3>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="name" placeholder="Student name" class="form-control" />
                <select name="potential" class="form-control">
                    <option value="a*">A*</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="e">E</option>
                </select>
                <select name="actual" class="form-control">
                    <option value="a*">A*</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="e">E</option>
                    <option value="u">U</option>
                </select>
            </div>
            <div class="form-group">
                <input type="checkbox" name="pupilPremium" id="pupilPremium" value="true">
                <label for="pupilPremium">Pupil premium?</label>
                <input type="checkbox" name="giftedTalented" id="giftedTalented" value="true">
                <label for="giftedTalented">Gifted / talented?</label>
                <input type="checkbox" name="sen" id="sen" value="true">
                <label for="sen">SEN?</label>
                <input type="checkbox" name="bme" id="bme" value="true">
                <label for="bme">BME?</label>
                <input type="checkbox" name="freeSchoolMeals" id="fsm" value="true">
                <label for="fsm">FSM?</label>
                <input type="submit" value="Create" id="student-create-submit" class="btn btn-success" />
            </div>
        </form>
    </script>

    <script type="text/template" id="template-student-stats">
        <tr>
            <td><strong>Averages:</strong></td>
            <td><%- averagePupilPremiumResidual %></td>
            <td><%- averageGiftedTalentedResidual %></td>
            <td><%- averageSENResidual %></td>
            <td><%- averageBMEResidual %></td>
            <td><%- averageFSMResidual %></td>
            <td><!-- potential --></td>
            <td><!-- actual --></td>
            <td><%- averageResidual %></td>
            <td></td>
        </tr>
    </script>

    <script type="text/template" id="template-student-delete">
        <span class="btn btn-danger" data-cid="<%- cid %>">X</span>
    </script>

    <!-- this HAS to be last -->
    <script
        data-main="{{ url_for('static', filename='js/main.js') }}"
        src="{{ url_for('static', filename='js/vendor/require.js') }}"
    ></script>
</body>
</html>
