<!doctype html>
<html>
<head>
    <title>Residuals</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="student-form-add" class="well"></div>
    <div class="container">
        <table id="students" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Pupil premium?</th>
                    <th>Gifted/talented?</th>
                    <th>SEN?</th>
                    <th>BME?</th>
                    <th>FSM?</th>
                    <th>Potential grade</th>
                    <th>Actual grade</th>
                    <th>Residual</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="students-table-body">
                <tr>
                    <td colspan="10" class="introductory-text">To get started, add a student above!</td>
                </tr>
            </tbody>
            <tfoot id="student-stats">
                <tr>
                    <td colspan="10"></td>
                </tr>
            </tfoot>
        </table>
        <div id="students-export-container"></div>
    </div>

    <!-- templates -->
    <script type="text/template" id="template-student-row">
        <td><%- model.name %></td>
        <td><input type="checkbox" id="<%- model.cid %>-pp" data-student-attr="pp" <% if(true === model.pp) { print('checked="checked"'); } %>" /></td>
        <td><input type="checkbox" id="<%- model.cid %>-pp" data-student-attr="gt"  <% if(true === model.gt) { print('checked="checked"'); } %>" /></td>
        <td><input type="checkbox" id="<%- model.cid %>-pp" data-student-attr="sen"  <% if(true === model.sen) { print('checked="checked"'); } %>" /></td>
        <td><input type="checkbox" id="<%- model.cid %>-pp" data-student-attr="bme"  <% if(true === model.bme) { print('checked="checked"'); } %>" /></td>
        <td><input type="checkbox" id="<%- model.cid %>-pp" data-student-attr="fsm"  <% if(true === model.fsm) { print('checked="checked"'); } %>" /></td>
        <td class="potential-grade"></td>
        <td class="actual-grade"></td>
        <td class="<%- residualCellClass %>">
            <strong><%  model.residual > 0 ? print('+' + model.residual) : print(model.residual) %></strong>
        </td>
        <td class="student-row-delete-td"></td>
    </script>

    <script type="text/template" id="template-student-form-add">
        <h3>Add a student</h3>
        <form class="form">
            <div class="form-group">
                <input type="text" name="name" placeholder="Student name" class="form-control" />
                <label for="student-form-add-potential">Potential grade:</label>
                <select name="potential" class="form-control" id="student-form-add-potential">
                    <option value="a*">A*</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="e">E</option>
                </select>
                <label for="student-form-add-actual">Actual grade:</label>
                <select name="actual" class="form-control" id="student-form-add-actual">
                    <option value="a*">A*</option>
                    <option value="a">A</option>
                    <option value="b">B</option>
                    <option value="c">C</option>
                    <option value="d">D</option>
                    <option value="e">E</option>
                    <option value="u">U</option>
                </select>
            </div>
            <div class="form-group">
                <input type="checkbox" name="pupilPremium" id="student-form-add-pupilPremium" value="true">
                <label for="student-form-add-pupilPremium">Pupil premium?</label>
                <input type="checkbox" name="giftedTalented" id="student-form-add-giftedTalented" value="true">
                <label for="student-form-add-giftedTalented">Gifted / talented?</label>
                <input type="checkbox" name="sen" id="student-form-add-sen" value="true">
                <label for="student-form-add-sen">SEN?</label>
                <input type="checkbox" name="bme" id="student-form-add-bme" value="true">
                <label for="student-form-add-bme">BME?</label>
                <input type="checkbox" name="freeSchoolMeals" id="student-form-add-fsm" value="true">
                <label for="student-form-add-fsm">FSM?</label>
                <br />
                <input type="submit" value="Create" id="student-create-submit" class="btn btn-success" />
            </div>
        </form>
    </script>

    <script type="text/template" id="template-student-stats">
        <tr>
            <td class="title"><strong>Averages:</strong></td>
            <td><%- averagePupilPremiumResidual %></td>
            <td><%- averageGiftedTalentedResidual %></td>
            <td><%- averageSENResidual %></td>
            <td><%- averageBMEResidual %></td>
            <td><%- averageFSMResidual %></td>
            <td><!-- potential --></td>
            <td><!-- actual --></td>
            <td><%- averageResidual %></td>
            <td></td>
        </tr>
    </script>

    <script type="text/template" id="student-grade-options">
        <select name="actual" class="form-control" data-student-attr="<%- attr %>">
        <%
            _(grades).each(function(grade) {
                var gradeValue   = grade.toLowerCase(),
                    gradeDisplay = grade.toUpperCase(),
                    selectedOpt  = (selected === gradeValue ? true : false),
                    selectedHtml = (true === selectedOpt ? 'selected="selected"' : '');
                print('<option value="' + gradeValue + '"' + selectedHtml + '>' + gradeDisplay + '</option>');
            });
        %>
        </select>
    </script>

    <script type="text/template" id="template-student-delete">
        <span class="btn btn-danger" data-cid="<%- cid %>">X</span>
    </script>

    <script type="text/template" id="template-export">
        <form id="students-export" action="students/export" method="POST">
            <input id="students-export-data" type="hidden" name="data" value="" />
            <span class="btn btn-primary">Export results (.csv)</span>
        </form>
    </script>

    <!-- this HAS to be last -->
    <script
        data-main="{{ url_for('static', filename='js/main.js') }}"
        src="{{ url_for('static', filename='js/vendor/require.js') }}"
    ></script>
</body>
</html>
